* {
    box-sizing: border-box;
}

body {
    padding:0px;
    margin:0px;
    background-color: #ccc;
    width:100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000;
    color:white;
    display: flex;
    gap: 1rem;
    padding: 0rem 1rem;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size:1.2rem;
    font-weight: bold;
    margin:0px;
    padding:0px;
}

header nav ul {
    display:flex;
    list-style: none;
    padding:0rem;
    margin:0px;
}
header nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 1.5rem 2rem;
    /* border: solid 1px #fff; */
    transition: background-color 0.5s ease-in;
}
header nav ul li a:hover {
    background-color: #555;
}

#hero div {
    position:relative;
}
#hero div img {
    width:100%;
    height: 70vh;
    min-height: 400px;
    object-fit: cover;
    object-position: center;
}
#hero div .action {
    width: 320px;
    height: 280px;
    background-color: #ffffff88;
    border-radius: 17px;
    box-shadow: 3px 3px 5px #000;
    padding:1rem;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#hero div .action a {
    display:block;
    margin: 1rem auto;
    width: 70%;
    padding: 0.7rem 1rem;
    border-radius: 27px;
    box-shadow: 1px 1px 3px #000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    background-color: slateblue;
    color:#000;
    text-align: center;
}

main {
    flex: 1;
}
footer {
    background-color: #000;
    color:white;
}

.grid{
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
}

.row{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

[class^="col"]{
    flex: 0;
    border: 1px solid #333;
}

.col-1{
    flex-basis: calc(100%/12);
}

.col-2{
    flex-basis: calc(100%/12 * 2);
}

.col-3{
    flex-basis: calc(100%/12 * 3);
}

.col-4{
    flex-basis: calc(100%/12* 4);
}

.col-5{
    flex-basis: calc(100%/12 * 5);
}

.col-6{
    flex-basis: calc(100%/12 * 6);
}

.col-7{
    flex-basis: calc(100%/12* 7);
}

.col-8{
    flex-basis: calc(100%/12* 8);
}

.col-9{
    flex-basis: calc(100%/12 * 9);
}

.col-10{
    flex-basis: calc(100%/12 * 10);
}

.col-11{
    flex-basis: calc(100%/12 * 11);
}

.col-12{
    flex-basis: calc(100%/12 * 12);
}